{% set current_path = page.url.split('/')[0] if page and page.url else 'en' %}
{% set active = namespace(icon=config.extra.alternate[0].icon, name=config.extra.alternate[0].name) %}
{% for alt in config.extra.alternate %}
  {% if alt.path == current_path %}
    {% set active.icon = alt.icon %}
    {% set active.name = alt.name %}
  {% endif %}
{% endfor %}

<div class="md-header__option detai-language-menu">
  <div class="md-select">
    <button class="md-header__button md-icon detai-language-menu__button" aria-label="Select language" title="Select language">
      <img class="detai-language-menu__flag" src="{{ active.icon | url }}" alt="">
    </button>
    <div class="md-select__inner">
      <ul class="md-select__list">
        {% for alt in config.extra.alternate %}
          <li class="md-select__item">
            <a href="{{ alt.link | url }}" hreflang="{{ alt.lang }}" class="md-select__link" data-locale="{{ alt.path }}">
              <img class="detai-language-menu__flag" src="{{ alt.icon | url }}" alt="">
              <span>{{ alt.name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
