name: Sync Blog Posts to Site

on:
  push:
    branches:
      - main
    paths:
      - 'knowledge_core/source_of_truth/docs/publications/blogs/**'  # Путь в исходном репозитории
    paths-ignore:
      - 'knowledge_core/source_of_truth/docs/publications/blogs/README.md'  # Исключаем README.md
  pull_request:
    branches:
      - main
    paths:
      - 'knowledge_core/source_of_truth/docs/publications/blogs/**'
    paths-ignore:
      - 'knowledge_core/source_of_truth/docs/publications/blogs/README.md'  # Исключаем README.md

jobs:
  sync-repos:
    runs-on: ubuntu-latest
    steps:
      # Шаг 1: Клонируем репозиторий базы знаний (Source Repo)
      - name: Checkout Source Repository (Knowledge_substrate)
        uses: actions/checkout@v2
        with:
          repository: DETai-org/Knowledge_substrate  # Исходный репозиторий
          token: ${{ secrets.GITHUB_TOKEN }}

      # Шаг 2: Клонируем целевой репозиторий (Target Repo)
      - name: Checkout Target Repository (Sites Repo)
        uses: actions/checkout@v2
        with:
          repository: DETai-org/sites  # Целевой репозиторий
          token: ${{ secrets.SITE_REPO_TOKEN }}
          path: target-repo  # Сохраняем в папку target-repo для дальнейшей работы

      # Шаг 3: Настройка идентификации Git
      - name: Set up Git identity
        run: |
          git config --global user.email "kolhonena@gmail.com"  # Cвой email
          git config --global user.name "Anton-Psy"  # Cвоё имя

      # Шаг 4: Копируем файлы из исходного репозитория в целевой
      - name: Copy Blog Posts to Site
        run: |
          cp -r knowledge_core/source_of_truth/docs/publications/blogs/* target-repo/docs/publications/blogs/
          cd target-repo
          git add .
          git commit -m "Sync new blog posts"
          git push
